/* Some CSS Setup - nothing to do with flexbox */
* {
  box-sizing: border-box;
}



#main {
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 200px;
  align-items: center;
  width: 80%;
  padding-left: 100px;
}

img {
  height: 300px;
}

.drum {
  width: 100%;
  height: 70%;
}
.drumMini{
  width: 100%;
  height: 80%;
}
.cym {
  width: 100%;
  height: 100%;
}

/*cym pic over other*/
.container {
  position: relative;
}

#hihatO {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.hihatO::before{
  opacity: 1;
  transition: all 0.3s ease;
}


/* key section */
.keyHit{
  display: flex;
  flex-direction: row;
  margin: 30px 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
}


@media screen and (max-width:768px) {
  #main {
    height: 300px;
    margin-top: 50px;
    align-items: center;
    width: 100%;
    padding-left: 10px;
  }
  .keyHit{
    margin: 10px 10px;
    justify-content: space-between;
 
  }
}


.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}


p {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00eeff;
}

.playing {
  transform: scale(1.12);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}